@import "https://fonts.googleapis.com/css?family=Raleway:100,400,700";
@font-face {
    font-family: 'gg_sans_Bold';
    src: url('./fonts/gg_sans_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gg_sans_Medium';
    src: url('./fonts/gg_sans_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gg_sans_Regular';
    src: url('./fonts/gg_sans_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gg_sans_Semibold';
    src: url('./fonts/gg_sans_Semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


html {
    font-family: 'gg_sans_Regular', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #060606; /* Background color from provided CSS */
    font-size: 16px;
    line-height: 1.6;
    font-family: "gg_sans_Regular";
    color: #ebebeb; /* Text color from provided CSS */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 415px) {
    body {
        font-size: 14px;
    }
}

/* Rest of your project-specific CSS here */

/* Add the styles from the provided CSS for specific elements as needed */

/* Example for h1 element */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #b8b8b8; /* Color from provided CSS */
    font-family: "gg_sans_Bold", sans-serif;
}


section#gallery {
    text-align: center;
    padding: 20px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-gallery .gallery-item {
    flex: 0 0 calc(30% - 20px); /* Adjust the width as needed */
    margin: 10px;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
    transition: transform 0.1s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.03);
}

/* Add this to your existing main.css file */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 1;
}

.modal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #b8b8b8;
    cursor: pointer;
}


/* Add this to your existing CSS file */


.filename {
    font-family: "gg_sans_Bold", sans-serif;
    text-align: center;
    margin-top: 5px; /* Adjust the spacing as needed */
    color: #b8b8b8;
    font-size: 14px; /* Adjust the font size as needed */
}

/* Add this to your existing CSS file */
.home-button {
    font-family: "gg_sans_Bold", sans-serif;
    display: inline-block;
    padding: 0.5px 10px; /* Adjust padding as needed */
    background-color: #cacaca; /* Choose your desired button color */
    color: #1a1a1a; /* Text color */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Adjust font size as needed */
    transition: background-color 0.3s ease-in-out;
}

.home-button:hover {
    background-color: #ffffff; /* Change color on hover */
}


/* Mobile Styles for Small Screens (Vertical Orientation) */
@media (max-width: 415px) {
    body {
        font-size: 14px;
    }

    /* Adjust styles for h1 on mobile */
    h1 {
        font-size: 1.5em; /* Adjust font size as needed */
    }

    /* Adjust image gallery styles for mobile */
    .image-gallery {
        flex-direction: column; /* Stack images vertically */
    }

    .image-gallery .gallery-item {
        width: 100%; /* Full width on mobile */
        margin: 0 auto;
    }

    .image-gallery img {
        max-width: 100%;
        height: auto;
        border-radius: 7px;
        transition: transform 0.1s ease-in-out;
    }

    /* Modal CSS remains the same */

    /* Adjust home button styles for mobile */
    .home-button {
        display: block; /* Change to block for full-width on mobile */
        padding: 10px; /* Adjust padding as needed */
        background-color: #cacaca;
        color: #1a1a1a;
        text-decoration: none;
        border-radius: 5px;
        font-size: 18px;
        text-align: center; /* Center text on mobile */
        transition: background-color 0.3s ease-in-out;
    }
}